<mtapp:setting id="message" label="<__trans phrase="Message">"
  hint="<__trans phrase="Display theme name.">" show_hint="1">
  <input type="text" name="message" id="message" value="<mt:GetVar name="message">" />
</mtapp:setting>
